[Desktop Entry]
Encoding=UTF-8
Name=Matlab {{ matlab_version }}
Comment=Matlab is a tool for Scientific Programming
Exec={{ matlab_install_dir }}/bin/matlab -desktop
Icon={{ matlab_install_dir }}/help/install/ug/matlab_desktop_icon.png
Type=Application
Categories=Application;Development;
X-Desktop-File-Install-Version=0.10
